---
// Homepage
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <h1>Hello, app is working and auto-deploying!</h1>
  </body>
</html>
